.o_table_nomina {

}
.company_address {
    font-size:10px;
}
.font_inv {
    font-size:11px;
}
.border_top {
    border-style: solid !important;
    border-top: solid 1px #ff0000 !important;
}


.event-table {
  width: 100%;
}
.table tr.rowA1.rowA1>th {
  border-bottom: 1px solid red;
}

.table tr.rowB2.rowB2>td {
    border-top-style: none !important;
    border-top: none !important;
    border-bottom: 1px solid #8F8F8F !important;
}

.table tfoot>tr.rowC2.rowC2>td {
  border-bottom: 1px solid blue;
}


.jumbotron, .panel, .carousel, section{
    page-break-inside: avoid;
}
/* Wkhtmltopdf doesn't support very well the media-print CSS (depends on the version) */
.hidden-print{
    display: none;
}

.font_theme_color {
    color: #8F8F8F !important;
}
.bg_theme_color {
    background-color: #8F8F8F !important;
    color: #FFFFFF !important;
}

.borderless td, .borderless th {
    border: none;
}


#cfdi_conceptos {
    color: #000000 !important;
    tbody {
        color: #8F8F8F !important;
        tr:nth-child(odd) {
            background-color: rgba(184, 171, 180, 0.2) !important;
        }
        tr td {
            color: #000000 !important;
            border-top: none !important;
        }
    }
    tfoot {

    }
}

#info {
    color: #000000 !important;
    td {
        color: #000000 !important;
        text-align: left;
    }
}